<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>All Authors</title>
  </head>
  <h1
    style="
      position: absolute;
      margin-top: 10px;

      text-align: center;
    "
  >
    Authors
  </h1>

  <body
    style="
      font-family: 'Roboto', sans-serif;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      position: relative;
    "
  >
    <div
      style="
        margin-top: 100px;
        margin-left: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;
      "
    >
      {% for author in authors %}
      <div
        style="
          padding: 25px;
          border: 1px solid black;
          border-radius: 10px;
          margin-bottom: 20px;
          background-color: lightblue;
          width: 300px;
          margin: 30px;
          align-self: center;
        "
      >
        <p><strong>{{ author.name }}</strong></p>
        <p>{{ author.biography }}</p>
        <p>{{ author.number_of_books_published }}</p>
        <a href="{{ author.get_absolute_url }}">Go to detail page</a>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
